<div class='column sending__container {{if (eq tutorialStep 2) 'sending__container--expanded' ''}}'>
	<header class='sending__header row align-center'>
		{{#each breadcrumbs as |crumb idx|}}
			{{#if (not-eq idx 0)}}
				{{fa-icon 'chevron-right' class='crumb__icon'}}
			{{/if}}
			<span class='crumb__text'>{{crumb}}</span>
		{{/each}}
	</header>

	<div class='row sending__main flex'>
		{{#if (eq tutorialStep 1)}}
			<div class='column sending__interactive'>
				<h1 class='interactive__title'>
					Select Address Type
				</h1>

				<div class='column justify-center flex'>
					<h2 class='interactive__bubble'>
						Which kind of address are you using?
					</h2>

					<div class='row address__options justify-center'>
						<div class='column cursor' {{action 'incrementTutorial'}}>
							<div class='interactive-image row align-center justify-center'>
								<p class='wrappedpar font__digital'>
									1AGRxqDB5WjU<br/>kBwHc9XYEjmkv1uc<br/>oUUy1s
								</p>
							</div>

							<h1 class='image__caption image__caption--off font__digital--bold'>Address</h1>
						</div>

						<div class='column'>
							<div class='interactive-image row align-center justify-center'>
								{{fa-icon 'qrcode' class='qrcode--big'}}
							</div>

							<h1 class='image__caption image__caption--off font__digital--bold'>QR Code</h1>
						</div>
					</div>
				</div>
			</div>
		{{else}}
			<div class='column sending__interactive'>
				<h1 class='interactive__title'>
					Complete Your Payment
				</h1>

				<div class='column flex sending__inputs'>
					<div class='column input__section'>
						<h2 class='input__help font__digital'>
							Copy and paste the address here
						</h2>

						<div class='interactive__input'>
							<label>Public Address:</label>

							{{input value=publicAddress onChange=(action (mut publicAddress))}}
						</div>

							<div class='sending__notifications'>
								{{#each addressErrorMessages as |errorMessage|}}
									{{log 'error message' errorMessage}}
									{{error-notification errorMessage=errorMessage}}
								{{/each}}

								{{#each addressWarningMessages as |warningMessage|}}
									{{warning-notification warningMessage=warningMessage}}
								{{/each}}

								{{#each addressSuccessMessages as |successMessage|}}
									{{success-notification successMessage=successMessage}}
								{{/each}}
							</div>
					</div>

					<div class='column input__section flex'>
						<h2 class='input__help font__digital'>
							Enter the amount you'd like to send
						</h2>

						<div class='interactive__input'>
							<label>Amount:</label>
							{{input value=amountToSend onChange=(action (mut amountToSend))}}

							{{#paper-select
								class='input__select'
							    options=currencyOptions
							    selected=currency
							    onChange=(action (mut currency))
							    as |currency|}}
							    {{currency}}
							{{/paper-select}}
						</div>

						{{#if (or (or amountErrorMessages.length amountSuccessMessages.length) amountWarningMessages.length)}}
						<div class='sending__notifications'>
							{{#each amountErrorMessages as |errorMessage|}}
								{{log 'error message' errorMessage}}
								{{error-notification errorMessage=errorMessage}}
							{{/each}}

							{{#each amountWarningMessages as |warningMessage|}}
								{{warning-notification warningMessage=warningMessage}}
							{{/each}}

							{{#each amountSuccessMessages as |successMessage|}}
								{{success-notification successMessage=successMessage}}
							{{/each}}
						</div>
						{{/if}}
					</div>
				</div>

				<div class='row justify-center'>
					<div class='column coinbase__account'>
						<div class='row coinbase__info justify-between'>
							<h1 class='coinbase__logo'>
								coinbase
							</h1>

							<h2 class='coinbase__user'>
								Viktor Smith
							</h2>
						</div>

						<div class='row justify-between'>
							<div class='column coinbase__current align-center'>
								<h1>Current</h1>
								<div class='interactive__input'>
									<span class='current__amount'>{{convertedCurrent}}</span>
									{{#paper-select
										class='input__select'
									    options=currencyOptions
									    selected=currentCurrency
									    onChange=(action (mut currentCurrency))
									    as |currency|}}
									    {{currency}}
									{{/paper-select}}
								</div>
							</div>
							<div class='column align-center coinbase__after'>
								<h1>After transaction (with fees)</h1>
								<div class='interactive__input'>
									<span class='after__amount'>{{convertedAfter}}</span>
									{{#paper-select
										class='input__select'
									    options=currencyOptions
									    selected=afterCurrency
									    onChange=(action (mut afterCurrency))
									    as |currency|}}
									    {{currency}}
									{{/paper-select}}
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class='row justify-center align-center'>
					<button {{action 'sendMoney'}} class='final__button approve font__digital--bold'>
						{{fa-icon 'check'}} Approve
					</button>
					<button {{action 'quitLesson'}} class='final__button quit font__digital'>
						{{fa-icon 'times error'}} Quit
					</button>
				</div>
			</div>
		{{/if}}

		<div class='column justify-center align-center sending__steps'>

			<div class='column sending_steps_container'>
				<div class="sending_steps_header row">
					<div class="sending_steps_title_container column align-center">
						<div class="sending_steps_title">
							Steps
						</div>

						<div class="sending_steps_divider"/>
					</div>
				</div>

				<div class="sending_steps_cell cell1 row">
					<div class="sending_steps_cell_image_block column justify-center align-center">
						<div class="sending_steps_cell_image_container column justify-center align-center">
							1
						</div>
					</div>
					<div class="sending_steps_cell_text_block flex column justify-center">
						<div class="sending_steps_cell_text_container">
							<div class="sending_steps_cell_text_header_container">
								<div class="sending_steps_cell_text_header">
									Delivery Method
								</div>
							</div>
							<div class="sending_steps_cell_description_block column justify-center align-center">
								<div class="sending_steps_cell_description">
									We found our what we were looking at.  Either a public address or QR code.
								</div>
							</div>
						</div>
					</div>
				</div>

				{{#if (eq tutorialStep 2)}}
					<div class="sending_steps_cell cell2 row">
						<div class="sending_steps_cell_image_block column justify-center align-center">
							<div class="sending_steps_cell_image_container column justify-center align-center">
								2
							</div>
						</div>
						<div class="sending_steps_cell_text_block flex column justify-center">
							<div class="sending_steps_cell_text_container">
								<div class="sending_steps_cell_text_header_container">
									<div class="sending_steps_cell_text_header">
										Enter public address and select amount
									</div>
								</div>
								<div class="sending_steps_cell_description_block column justify-center align-center">
									<div class="sending_steps_cell_description">
										Make sure the public address is entered correctly.
									</div>
								</div>
							</div>
						</div>
					</div>
				{{/if}}

				{{#if tutorialComplete}}
					<div class="sending_steps_cell_complete_block column flex align-center justify-center">
						Complete!
					</div>
				{{/if}}
			</div>

		</div>
	</div>

	{{outlet}}

	{{#unless (gt dialogStep 1)}}
		{{#if (eq dialogStep 0)}}
			{{#paper-dialog class="flex-50 sending__dialog" clickOutsideToClose=false}}
			  {{#paper-dialog-content}}
				<div class='column justify-between'>
					<div class='row justify-around align-center'>
						<img src='/assets/dialog1_hand.png' class='dialog__image' />
						{{fa-icon 'long-arrow-right' class='dialog__icon'}}
						<img src='/assets/dialog1_globe.png' class='dialog__image' />
					</div>

					<div class='dialog__text column'>
						<h1 class='dialog__title font__digital--bold'>
							Sending Bitcoin
						</h1>
						<p class='dialog__tips font__digital'>
							You're about to send some Bitcoin. That's great! Whether you're buying something online, or sending money to a friend, we'll help guide you through the process.
						</p>
					</div>
				</div>
			  {{/paper-dialog-content}}

			  {{#paper-dialog-actions class="layout-row"}}
				<span class="flex"></span>
				{{#paper-button onClick=(action "incrementDialog") class='dialog__button'}}Next{{/paper-button}}
			  {{/paper-dialog-actions}}
		{{/paper-dialog}}
	{{else}}
			{{#paper-dialog class="flex-50 sending__dialog" clickOutsideToClose=false}}
			  {{#paper-dialog-content}}
				<div class='column justify-between'>
					<div class='dialog__text'>
						<h1 class='dialog__title font__digital--bold'>
							There are two kinds of addresses
						</h1>
					</div>

					<div class='row justify-around align-center dialog__images'>
						<div class='column'>
							<div class='dialog__border-image row align-center justify-center'>
								<p class='wrappedpar font__digital'>
									1AGRxqDB5WjU<br/>kBwHc9XYEjmkv1uc<br/>oUUy1s
								</p>
							</div>

							<h1 class='image__caption font__digital--bold'>Address</h1>
						</div>

						<div class='column'>
							<div class='dialog__border-image row align-center justify-center'>
								{{fa-icon 'qrcode' class='qrcode'}}
							</div>

							<h1 class='image__caption font__digital--bold'>QR Code</h1>
						</div>
					</div>

					<div class='dialog__text column'>
						<p class='dialog__tips font__digital'>
							When you want to send money, you'll see one of these two addresses. Take note of which one you see.
						</p>
					</div>
				</div>
			  {{/paper-dialog-content}}

			  {{#paper-dialog-actions class="layout-row"}}
				<span class="flex"></span>
				{{#paper-button onClick=(action "incrementDialog") class='dialog__button'}}Begin{{/paper-button}}
			  {{/paper-dialog-actions}}
		{{/paper-dialog}}
	{{/if}}
	{{/unless}}

	{{#if submissionModalOpen}}
			{{#paper-dialog class="flex-50 sending__dialog" clickOutsideToClose=false}}
			  {{#paper-dialog-content}}
				<div class='column justify-between'>
					<div class='dialog__text column'>
						<h1 class='dialog__title font__digital--bold'>
							{{#if submissionLoading}}
								Sending Bitcoin...
							{{else}}
								All set! You've completed this lesson!
							{{/if}}
						</h1>
							<div class='dialog__loading row align-center justify-center'>
						{{#if submissionLoading}}
								{{fa-icon 'spinner' spin=true class='dialog__loader'}}
						{{else}}
							{{fa-icon 'check-circle' class='dialog__loader success'}}
						{{/if}}
							</div>
					</div>
				</div>
			  {{/paper-dialog-content}}

			  {{#paper-dialog-actions class="layout-row"}}
				<span class="flex"></span>
				{{#paper-button class='dialog__button'}}Back to Lessons{{/paper-button}}
			  {{/paper-dialog-actions}}
		{{/paper-dialog}}
	{{/if}}
</div>
